body {
	background: #808080;
	font-family: 'Coming Soon', cursive;
}

img {
	display: block; 
height: 280px;
width: auto;
margin: 15px;

}



#title {
background: #003d66;
width: 600px;
padding-left:15px; 
padding-bottom: 15px;
margin-top: 15px;
margin-left:15px;
border-radius: 5px;
}

#main {
	background: #4d4d4d;
	width: 600px;
	padding: 15px ;
	margin-top: 15px;
	margin-left:15px;
	border-radius: 5px;
}

